# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large datasets
*.csv

# Generated datasets
final_merged_dataset.csv

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db